<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>QQ阅读</string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1521386708764&amp;di=52e0086248e911c9a8ab4dcf5aa89895&amp;imgtype=0&amp;src=http%3A%2F%2Fawb.img.xmtbang.com%2Fimg%2Fuploadnew%2F201506%2F06%2F2a5e8dec95264914ae6834f373674617.jpg</string>
		<key>download</key>
		<string>10万次</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PP助手</string>
		<key>icon</key>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1741757241,2178988513&amp;fm=27&amp;gp=0.jpg</string>
		<key>download</key>
		<string>13万次</string>
	</dict>
	<dict>
		<key>name</key>
		<string>下载</string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1521387195487&amp;di=2ba0d9344885e537ed5027e34698fd29&amp;imgtype=0&amp;src=http%3A%2F%2Fpic28.photophoto.cn%2F20130806%2F0020033068489691_b.jpg</string>
		<key>download</key>
		<string>8万次</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AppStore</string>
		<key>icon</key>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3247853414,1971589196&amp;fm=27&amp;gp=0.jpg</string>
		<key>download</key>
		<string>15万次</string>
	</dict>
	<dict>
		<key>name</key>
		<string>邮件</string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1521387262121&amp;di=ffa33372aeb278ad6fad647bc9dc0f6a&amp;imgtype=0&amp;src=http%3A%2F%2Fm.qqzhi.com%2Fupload%2Fimg_3_903257203D1454104640_23.jpg</string>
		<key>download</key>
		<string>11万次</string>
	</dict>
	<dict>
		<key>name</key>
		<string>网易云音乐</string>
		<key>icon</key>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1038742004,24330098&amp;fm=27&amp;gp=0.jpg</string>
		<key>download</key>
		<string>20万次</string>
	</dict>
	<dict>
		<key>name</key>
		<string>火狐浏览器</string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1521387362939&amp;di=55d3b64efe3a579fda323f3421b8b96b&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.article.pchome.net%2F00%2F37%2F85%2F49%2Fpic_lib%2Fs960x639%2FFirefoxs960x639.JPG</string>
		<key>download</key>
		<string>10万次</string>
	</dict>
	<dict>
		<key>name</key>
		<string>日历</string>
		<key>icon</key>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1426257398,1288877347&amp;fm=27&amp;gp=0.jpg</string>
		<key>download</key>
		<string>9万次</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PDF阅读器</string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1521387445802&amp;di=cf0b0e03b0dcf3f094347931243e7b7f&amp;imgtype=0&amp;src=http%3A%2F%2Fwww.icosky.com%2Ficon%2Fpng%2FApplication%2FAdobe%2520Round%2FAdobe%2520Reader.png</string>
		<key>download</key>
		<string>10万次</string>
	</dict>
	<dict>
		<key>name</key>
		<string>音乐</string>
		<key>icon</key>
		<string>https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=4289022915,1500998164&amp;fm=27&amp;gp=0.jpg</string>
		<key>download</key>
		<string>12万次</string>
	</dict>
	<dict>
		<key>name</key>
		<string>画图</string>
		<key>icon</key>
		<string>https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2871997233,2942583561&amp;fm=27&amp;gp=0.jpg</string>
		<key>download</key>
		<string>10万次</string>
	</dict>
	<dict>
		<key>name</key>
		<string>拍照</string>
		<key>icon</key>
		<string>https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1895795670,3554023472&amp;fm=27&amp;gp=0.jpg</string>
		<key>download</key>
		<string>13万次</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天气</string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1521388123590&amp;di=b7b4b141a4fb44f37900260b76b0851a&amp;imgtype=0&amp;src=http%3A%2F%2Fpic28.photophoto.cn%2F20130806%2F0020033019622582_b.jpg</string>
		<key>download</key>
		<string>10万次</string>
	</dict>
	<dict>
		<key>name</key>
		<string>iMessage</string>
		<key>icon</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1521388206882&amp;di=1947bcb93b58205ef7ff2448e5fe81f5&amp;imgtype=0&amp;src=http%3A%2F%2Fimg47.nipic.com%2F20130806%2F7145703_155435238146_1.jpg</string>
		<key>download</key>
		<string>10万次</string>
	</dict>
	<dict>
		<key>name</key>
		<string>AW</string>
		<key>icon</key>
		<string>https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=257163470,650521691&amp;fm=27&amp;gp=0.jpg</string>
		<key>download</key>
		<string>7万次</string>
	</dict>
</array>
</plist>
